<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="../vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.1.17/vue-resource.js"></script>
</head>
<body>
<style>
    [v-cloak]{
        display: none;
    }
</style>
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <h1>Vue demo</h1>
        <div id="app">
            <table class="table table-hover" v-cloak>
                <thead>
                <tr>
                    <th class="text-right" @click="sortBy('id')">序号</th>
                    <th class="text-right" @click="sortBy('name')">书名</th>
                    <th class="text-right" @click="sortBy('author')">作者</th>
                    <th class="text-right" @click="sortBy('price')">价格</th>
                    <th class="text-right">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="book in books | orderBy sortparam">
                    <td class="text-right">{{book.id}}</td>
                    <td class="text-right">{{book.name}}</td>
                    <td class="text-right">{{book.author}}</td>
                    <td class="text-right">{{book.price}}</td>
                    <template v-if="book.id%2==0">
                        <td class="text-right">
                            <button type="button" class="btn btn-success" @click="delBook(book)">删除</button>
                        </td>
                    </template>
                    <template v-else>
                        <td class="text-right">
                            <button type="button" class="btn btn-danger" @click="delBook(book)">删除</button>
                        </td>
                    </template>
                </tr>
                <tr>
                    <td class="text-right" colspan="5">
                        <h4>总价:{{sum}}</h4></td>
                </tr>
                </tbody>
            </table>
            <div id="add-book">
                <legend>添加书籍</legend>
                <div class="form-group">
                    <label for="">书名</label>
                    <input type="text" class="form-control" v-model="book.name">
                </div>
                <div class="form-group">
                    <label for="">作者</label>
                    <input type="text" class="form-control" v-model="book.author" >
                </div>
                <div class="form-group">
                    <label for="">价格</label>
                    <input type="text" class="form-control" v-model="book.price">
                </div>
                <button class="btn btn-primary btn-block" v-on:click="addBook()">添加</button>
            </div>
            <br>
        </div>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        ready: function() {
            this.$http.get('http://m.renyihudong.com/common/testjson', function(data) {
                this.$set('books', data);
            }).error(function(data, status, request) {
                console.log('fail' + status + "," + request);
            })


        },
        data: {
            sortparam: '',
            book: {
                id: 0,
                author: '',
                name: '',
                price: ''
            },
            books: ''
        },
        computed: {
            sum: function() {
                var result = 0;
                for (var i = 0; i < this.books.length; i++) {
                    result = Number(this.books[i].price) + result;
                };
                return result;
            }
        },

        methods: {
            addBook: function() {
                this.book.id = this.books.length + 1;
                this.books.push(this.book);

                console.log(this.book);
                this.book = '';


            },
            delBook: function(book) {
                this.books.$remove(book);

            },
            sortBy: function(sortparam) {

                this.sortparam = sortparam;
            }
        }
    });

</script>

</body>
</html>